<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<p>検索する社員IDと社員名を入力してください</p>
	<form method="post">
		社員ID<input type="text" name="shainId" /><br>
		社員名<input type="text" name="shainName" /><br>
		<input type="submit" value="検索" />
	</form>

	//ifで条件分岐して検索テーブルをループして作る
	<table th:if="${searchResultArray != null}">
		<tr>
			<th>社員ID</th>
			<th>社員名</th>
			<th>Eメールアドレス</th>
		</tr>

		<tr th:each="shain : ${searchResultArray}">
			<td th:text="${shain.shainId}"></td>
			<td th:text="${shain.shainName}"></td>
			<td th:text="${shain.email}"></td>
		</tr>
	</table>

</body>

</html>